body{
	background:#28363c;
	color:#c6c6c6;
}
.navbar{
    background-color: #2e5b7f;
    height:80px;
    z-index:100;
}
.navbar .toggle-button{
   color:lightgrey;
}
.navbar .navbar-brand, .navbar-brand:hover{
   color:lightgrey;
}
.navbar-nav li a{
    background-color: #2e5b7f;
	line-height: 50px;
    height: 79px;
    padding-right: 50px;
    padding-left: 50px;
    color:white;
}
.navbar-nav li a:hover{
    background-color: #2e5b7f;
	text-decoration:underline;
}
.navbar .active{
    background:grey;
}
.navbar-header .fa-bars{
	font-size:30px;
}
.navbar-brand{
	font-family:'Futura';
	color: #28363c;
	font-size:30px;
	padding:30px;
}
.live-promille{
	font-size:80px;
	margin-top:0px;
	padding-top:0px;
	text-align: center;
}

.promille-col{
	padding: 10px 40px;
}
.promille-col h2{
	margin-top:0;
	font-size:20px;
}
.statistics-col{
	padding:10px 40px;	
}
.drink-list{
	margin-top: 10px 40px;
}
.add-drink-button{
	width:100%;
	background:#345f33;
	border:none;
	padding:10px;
	border-radius:5px;
}

footer{
    background-color: #292c2f;
    padding:70px 10px;
    font: bold 16px sans-serif;
    margin-top:50px;
}
footer .footer-company-name{
    margin-top:0;
    padding-top:0;
    margin-bottom:20px;
    color:lightgrey;
    font-weight:bold;
}
footer .footer-copyright{
    color:  #8f9296;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.social-media-list{
    list-style:none;
    color:  #8f9296;
    margin-bottom:20px;
    padding-left:0;
    margin-left:0;

}
.social-media-list li{
    display:inline;
    margin-right:20px;
}
.social-media-list li a{
    font-size:20px;
    color:  #8f9296;

}
.intro{
	margin-bottom:20px;
}
.list-group{
	max-height:200px;
	overflow:scroll;
	overflow-x:hidden;

	display:block;
}