body{
	background:#28363c;
	color:#c6c6c6;
}
.navbar{
    background-color: #2e5b7f;
    height:80px;
    z-index:100;
}
.navbar .toggle-button{
   color:lightgrey;
}
.navbar .navbar-brand, .navbar-brand:hover{
   color:lightgrey;
}
.navbar-nav li a{
    background-color: #2e5b7f;
	line-height: 50px;
    height: 79px;
    padding-right: 50px;
    padding-left: 50px;
    color:white;
}
.navbar-nav li a:hover{
    background-color: #2e5b7f;
	text-decoration:underline;
}
.navbar .active{
    background:grey;
}
.navbar-header .fa-bars{
	font-size:30px;
}
.navbar-brand{
	font-family:'Futura';
	color: #28363c;
	font-size:30px;
	padding:30px;
}
.live-promille{
	font-size:80px;
	text-align: center;
}
.promille-col{
	padding:10px 40px;
}
.statistics-col{
	padding:40px;	
}
.drink-list{
	margin-top:40px;
}
footer{
	background-color: #345f33;
	padding:20px 10px;
	font: bold 25px sans-serif;
	color:lightgrey;
	height:80px;
}


