<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Alkokollen - beräkna din promille">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
          Alkokollen
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- jQuery !-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- AngularJS !-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

        <!-- Angular Route !-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

        <!-- Bootstrap js !-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <!-- Flot plugin !-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>

        <script src="js/plot.js"></script>
        <script src="app.config.js"></script>

    </head>
      
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Lägg till dryck</h4>
              </div>
              <div class="modal-body">
                  <form name='addDrinkForm' id='addDrinkForm'>
                      <label>Mängd:</label><input name='amount' class="form-control" type = 'number' placeholder='mängd (cl)' ng-model='amount' required><br>
                      <label>Procentsats:</label><input max=100 name='percentage' class="form-control" type = 'number' placeholder='alkoholandel (procent)' step="0.01" ng-model='percentage' required><br>
                      <label>Tid vid förtäring:</label><input step='60' name='time' class="form-control" type='time' ng-model = 'time' ng-focus="timesetting=true" required>                    
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addDrink()" data-dismiss="modal" ng-disabled="!addDrinkForm.$valid"> Lägg till dryck</button>
              </div>
            </div>
          </div>
    </div>

    <body ng-app='alkokollen' ng-controller="appCtrl">

        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle toggle-button collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <li class='fa fa-bars'></li>
              </button>

              <a class="navbar-brand" href="#">Alkokollen</a>
            </div>
            
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Hem</a></li>
                  <li><a href="#">Registrera dig</a></li>
                  <li><a href="#">Logga in</a></li> 
                </ul>
            </div>
          </div>
        </nav>

        <div class="container-fluid text-center">
          <div class="row">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="promille-col col-sm-4 col-xs-10">
                <h2>Dina förtärda drycker</h2>
                <ul class="list-group">
                  <li ng-repeat="drink in drinks"class="list-group-item">{{drink.amount}} cl dryck med alkoholhalten {{drink.percentage}}%</li>
                  <li ng-hide="drinks.length"class="list-group-item">Du har inte lagt till någon dryck</li>
                </ul>
                <button class='add-drink-button' data-toggle="modal" data-target="#myModal">Lägg till dryck</button>

            </div>
            <div class="col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0 statistics-col">
                <h1 class="live-promille">
                  3,2‰
                </h1> 
                Raglande gång. Känsloutbrott. Du kan bli aggressiv eller börja gråta. Och eventuellt kräkas. Du kommer vara som fullast om 2 timmar (3.2‰) och du kommer vara helt nykter om 13 timmar
            </div>

          </div>  
        </div>

        <div class="container-fluid">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div id="statistics" >

            </div>
          </div>  
        </div>



        <footer class="container-fluid text-center">

                <div class="footer-left col-sm-6">
                    <h2 class='footer-company-name'>
                        Alkokollen
                    </h2>
                    <p class="footer-links">
                        <a href="#">About</a>
                        ·
                        <a href="#">Faq</a>
                        ·
                        <a href="#">Contact</a>
                    </p>

                </div>

                <div class="footer-right col-sm-6">

                 <ul class='social-media-list'>
                     <li>
                        <a href="">
                             <i class="fa fa-github"></i> 
                        </a>
                     </li>
                     <li>
                        <a href="">
                         <i class="fa fa-twitter"></i> 
                        </a>
                     </li>
                     <li>
                        <a href="">
                         <i class="fa fa-envelope"></i> 
                        </a>
                     </li>
                 </ul>
                 
                 <p class="footer-copyright">Made by Joakim Loxdal &copy; 2016</p>


                </div>

    </footer>


    </body>
</html>
